@import url(chrome://global/skin/);

.subfolderColumnHeader {
	list-style-image: url('chrome://messenger/skin/icons/thread-col.png');
	padding: 0px;
	margin:0px;
}

.listcell-subfolder {
	list-style-image: url('chrome://messenger/skin/icons/thread.png');
	padding: 0px;
	margin:0px 0px 0px 3px;
}

.taskColumnHeader {
	list-style-image: url('chrome://taskmail/skin/link_task.png');
	padding-left: 0px;
	padding-right: 0px;
	margin-left: 0px;
	margin-right: 0px;
}

.icon-mail-column  {
	padding-left:3px;
}

#taskList {
	padding :  0px;
	margin : 0px;
}

.minorLabel {
	color : rgb(125,125,125);
}

.filterLabel {
	color : rgb(125,125,125);
	padding-top:5px;	
}

#addTask label {
	margin-top: 5px;
}

.taskPriority-column {
	background-color: #FF0000;
	color: #FFFFFF;
	text-align: center;
}

.taskPriority-column label {
	padding-left: 0px;
}

.taskPriority-0 {
	background-color: #00e43f;
}

.taskPriority-1 {
	background-color: #00e7a0;
}

.taskPriority-2 {
	background-color: #00d1ea;
}

.taskPriority-3 {
	background-color: #0071ed;
}

.taskPriority-4 {
	background-color: #000ff0;
}

.taskPriority-5 {
	background-color: #5400f3;
}

.taskPriority-6 { 
	background-color: #ba00f6;
}

.taskPriority-7 {
	background-color: #f900cd;
}

.taskPriority-8 {
	background-color: #fc0068;
}

.taskPriority-9 {
	background-color: #ff0000;
}

radio[pane=taskmail-pane] {list-style-image: url("chrome://taskmail/skin/generalPane.png")}
radio[pane=taskmail-reportPane] {list-style-image: url("chrome://taskmail/skin/reportPane.png")}

#qfb-task {
  list-style-image:  url('chrome://taskmail/skin/link_task.png');
}

#qfb-task-linked {
  list-style-image:  url('chrome://taskmail/skin/link_task_hilight.png');
}

#qfb-task-thread {
  list-style-image:  url('chrome://messenger/skin/icons/thread.png');
}

#menuAddTask, #menu-selectLinked, #menu-goNextMail {
  list-style-image:url('chrome://taskmail/skin/taskmail_logo_menu.png');
}
